.edit_col,
.del_col {
    text-align: center;
}
.ant-modal-content {
    overflow: hidden;
}
.ant-drawer {
    overflow: hidden;
}
.modTable table {
    min-width: initial !important;
    margin-left: 0 !important;
}

.modTable .react-bootstrap-table {
    padding-right: 20px !important;
}
